.instock {
  color: #158463;
  background-color: rgb(21, 132, 99, 0.07);
  border-radius: 3.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.no-stock {
  color: #c94515;
  background-color: rgb(201, 69, 21, 0.07);
  border-radius: 3.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#Delete-Icon {
  margin-right: 0.5rem;
}
