@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/mixins" as mixins;
@use "../../styles/partials/variables" as *;

.table {
  border: 1px solid aquamarine;
  font-size: 14px; ////////revisit!!!
  list-style: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.table-header {
  margin-top: 0;
  display: flex;

  flex-direction: row;
  list-style: none;
  height: 5rem;
  &__header {
    line-height: 2;
  }
}

//for inventory
.table-topper {
  height: 5rem;
}

.table-header__left,
.table-header__right {
  display: flex;
  width: 25%;
  justify-content: flex-start;
  align-items: center;
}

.table-header__right {
  justify-content: center;
}

.table-header__middle {
  width: 35%;
}

.blue-button {
  background-color: #2e66e5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.backArrow {
  margin-right: 12px;
}

#search-icon {
  padding-right: 1rem;
}

#title {
  color: #5c667e;
}
.search-button {
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding-left: 1rem;
  height: 3rem;
}

.search-button,
.blue-button {
  border-radius: 50px;
}

.table-row {
  height: 3rem;
  &__header {
    background-color: #f7f8f9;
  }
}

//Columns

.table-row__column--1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.table-row__column--2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.table-row__column--3 {
  display: flex;
  padding-right: 43px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.table-row__column--indiviual {
  border-bottom: 1px green solid;
}

.table-row__column--indiviual,
.table-row__header {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.table-row__column--indiviual:hover {
  background-color: rgba(46, 102, 229, 0.07);
  //make 7%
}

////Columns
.row-1,
.row-2,
.row-3,
.row-5 {
  display: flex;
  align-items: center;
}

.row-1 {
  cursor: pointer;
  color: #2e65e5;
}

#l-page-header {
  color: black;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.row-1 {
  padding-left: 40px;
}

.row-5 {
  flex-direction: row;
  width: 80%;
}

.label {
  flex-direction: row;
}

///////////////////////////////////////
@include breakpoints.small {
  .table {
    font-size: 11px;
  }
  .table-header {
    background-color: white;
    flex-direction: column;
    height: 196px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    &__list {
      padding-left: 24px;
      width: 100%;
    }
    &__header {
      padding-left: 24px;
    }
    &__left {
      justify-content: flex-start;
    }
  }

  .table-header__right {
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  .search-button,
  .blue-button,
  .table-header__right,
  .table-header__left {
    width: 100%;
  }

  .search-button,
  .blue-button {
    height: 36px;
    border-radius: 50px;
    font-size: 13px;
  }
  #non-mobile {
    display: none;
  }

  #mobile-only {
    font-weight: bold;
    color: black;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .table {
    margin-left: 16px;
    margin-right: 16px;
  }

  .table-row__header {
    height: 40px;
  }

  .table-row__column--indiviual {
    height: 196px;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .table-row__column--1,
  .table-row__column--2,
  .table-row__column--3 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .table-row__column--1,
  .table-row__column--2 {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
  }
  .row-1,
  .row-3,
  .row-5,
  .row-2,
  .row-4 {
    width: 100%;
    padding-left: 0;
  }
  .row-5 {
    display: flex;
    padding-left: 28px;
    padding-right: 28px;
    justify-content: space-between;
    flex-direction: row;
  }
}

/////////////////////////////////////////////
@include breakpoints.medium {
  .search-button {
    width: 185px;
    height: 38px;
  }

  #mobile-only {
    display: none;
  }

  .blue-button {
    width: 168px;
    height: 38px;
  }
  .table {
    margin-left: 32px;
    margin-right: 32px;
  }

  .table-header__header {
    padding-left: 32px;
  }

  .table-row__header {
    height: 40px;
  }

  .table-row__column--indiviual {
    height: 76px;
  }
}

@include breakpoints.large {
  .search-button {
    width: 274px;
    height: 38px;
  }
  .blue-button {
    width: 168px;
    height: 38px;
  }

  .table {
    margin-left: 130px;
    margin-right: 130px;
  }

  .table-row__header {
    height: 40px;
    &__header {
      padding-left: 40px;
    }
  }

  .table-row__column--indiviual {
    height: 76px;
  }

  // .row-1,
  // .row-2 {
  //   padding-left: 40px;
  // }
}
